* {
      box-sizing: border-box;
      }



      body {
        background-image: url("e9f6b754-e5fd-4621-b1fb-6f4c38bab50e.jpg");
      }


body {
      background-image: url("e9f6b754-e5fd-4621-b1fb-6f4c38bab50e.jpg");
      background-repeat:no-repeat;
    }




      #logo{
animation: myAnim 1s ease 0s 1 alternate-reverse forwards;
        }
        @keyframes myAnim {
      	0% {
      		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
      		transform: scale(1);
      	}

      	100% {
      		box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
      		transform: scale(1.1);
      	}
      }


#logo
