* {
      box-sizing: border-box;
      }



      body {
        background-image: url("bgdesert.jpg");
      }


      *{
        font-family: 'Rubik', sans-serif;
      }



      #logo{
animation: myAnim 1s ease 0s 1 alternate-reverse forwards;
        }
        @keyframes myAnim {
      	0% {
      		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
      		transform: scale(1);
      	}

      	100% {
      		box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
      		transform: scale(1.1);
      	}
      }


#logo
